html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

ul {
  position: relative;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

ul li,
ul a {
  height: 16px;
  display: block;
}

.tile {
  width: 16px;
  height: 16px;
  right: 0px;
  bottom: 0px;
  transform: scale(2.5);
  position: absolute;
  margin: auto;
}

.ice {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -180px -1736px;
}

.rock {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -132px -1704px;
}

.wall-left {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -180px -378px;
}

.wall-top {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -195px -254px;
}

.wall-right {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -204px -262px;
}

.wall-topleft {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -180px -254px;
}

.wall-topright {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -204px -254px;
}

.wall-bottom {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -188px -1720px;
}

.floor-start {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -180px -1704px;
}

.floor-goal {
  background: url("Game Boy GBC - Pokemon Gold Silver - Tileset Day.png") -180px -1704px;
}

.player {
  width: 16px;
  height: 16px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transform: scale(2.5);
  position: absolute;
  margin: auto;
  background: url("red.png") 0px 0px;
}

#player-idle-down {
  background: url("red.png") 0px 0px;
}

#player-idle-up {
  background: url("red.png") 0px -16px;
}

#player-idle-left {
  background: url("red.png") 0px -32px;
}

#player-idle-right {
  background: url("red.png") 0px -32px;
  transform: scale(2.5) scaleX(-1);
}

#player-move-down {
  background: url("red.png") 0px -48px;
}

#player-move-up {
  background: url("red.png") 0px -64px;
}

#player-move-left {
  background: url("red.png") 0px -80px;
}

#player-move-right {
  background: url("red.png") 0px -80px;
  transform: scale(2.5) scaleX(-1);
}